.container{
    margin: 8rem 0;
}

h5{
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.card{
    margin: 0 2% !important;
    box-shadow: 0 17px 46px -10px #777 !important;
    border-radius: 1rem !important;
}

.cardColor{
    background-color: #fafafa !important;
}

.cardTitle{
    margin-bottom: 0 !important;
    padding: auto 0px auto 0px !important;
}

.iconCard{
    width: 20%;
    float: left;
    margin-right: 15%;
}

.date{
    color: #9b9b9b;
}

.infected{
    color: #0779e4;
}



.recovered{
    color: #50d890;
}

.deaths{
    color: #dd2c00;
}

@media (max-width: 770px) {
    .card{
        margin: 2% 0 !important;
    }
}